[submodule "MonoGame"]
	path = MonoGame
	url = https://github.com/MonoGame/MonoGame.git
[submodule "phaser-ce"]
	path = phaser-ce
	url = https://github.com/photonstorm/phaser-ce.git
[submodule "sense-js"]
	path = sense-js
	url = https://github.com/ehzhang/sense-js.git
[submodule "nunchuck"]
	path = nunchuck
	url = https://github.com/ehzhang/nunchuck.git
